@model IEnumerable<WebAppDBMS.Models.Row>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Table.Name</h2>

<p>
    <a asp-action="Create" asp-controller="Columns" asp-route-tableId="@ViewBag.Table.Id">Add column  </a>
    <a asp-action="Create" asp-route-tableId="@ViewBag.Table.Id"> Add row</a>
    <a asp-action="Delete" asp-controller="Columns" asp-route-tableId="@ViewBag.Table.Id">Delete column</a>
</p>
<table class="table table-responsive table-hover">
    <tr>

        @foreach (var d in ViewBag.Table.Columns)
        {
            <th>@d.Name</th>
        }
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            @foreach (var cell in d.Cells)
            {
                <td>@cell.Value</td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@d.Id" asp-route-tableId="@ViewBag.Table.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@d.Id" asp-route-tableId="@ViewBag.Table.Id">Delete</a>
            </td>
        </tr>

    }
</table>
<div>
    <a asp-action="Index" asp-controller="Tables" asp-route-databaseId="@ViewBag.Table.DatabaseId">Back to List</a>
</div>